@import "themes/themes";
@import "theming";

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  @include themify($themes) {
    background-color: $tmp-color-light;
  }
  border-radius: 5px;
}

.card {
  @include themify($themes) {
    color: $tmp-color-primary;
    background-color: $tmp-color-secondary;
  }
}

@import "themes/bootswatch/bootstrap/scss/bootstrap.css";
