<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
        Choose theme <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li *ngFor="let theme of themes" role="menuitem"><a class="dropdown-item" id="{{ theme }}" [routerLink]="" (click)="changeTheme($event)">{{ theme }}</a></li>
    </ul>
</div>
